body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/stars.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

header {
    background-color: #482feb;
    color: white;
    font-family:"press start 2p";
    padding: 20px;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.game {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.game:hover {
    transform: scale(1.05);
}

.game img {
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
}

.game h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.game p {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.game button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.game button:hover {
    background-color: #3367d6;
}

footer {
    background-color: #482feb;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}